{% extends 'main/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/question.css' %}" />
{% endblock %}

{% block content %}
    <main>
        <div class="question-container">
            {% if user == question_author %}
                <button class="options-button" onclick="showOptions()">
                    <i class="fa-solid fa-gear"></i>
                </button>
                <form class="options" action="{% url 'questions:question' question.id %}" method="post">
                    {% csrf_token %}
                    <button name="change" type="submit">Change <i class="fa-solid fa-pen"></i></button>
                    <button name="delete" type="submit">Delete <i class="fa-solid fa-trash-can"></i></button>
                </form>
            {% endif %}
            <h3 class="question-title">{{ question.title }}</h3>
            <div class="question-metadata">
                <p>Asked at {{question.creation_date}}</p>
                <p>Viewed by {{question.views}} people</p>
            </div>
            <hr />
            <div class="question-text">
                <p>{{question.text}}</p>
            </div>
            <div class="question-footer">
                <div class="question-categories">
                    {% for category in question.categories %}
                        <p>{{category}}</p>
                    {% endfor %}
                </div>
                <div class="question-author">
                    <img width="50px" height="50px" src="{% if question_author.image %}{{ question_author.image.url }}{% else %}{% static 'img/default-avatar.png' %}{% endif %}">
                    <p>{{question_author.username}}</p>
                </div>
            </div>
        </div>
        {% if question.answers > 0 %}
            <div class="answers-header">
                <p class="answer-title">Answers</p>
                <hr class="answer-line" />
            </div>
        {% endif %}

        {% for comment in question.comments.all %}
            <div class="answer">
                <div class="answer-text">
                    <p>{{comment.text}}</p>
                </div>
                <div class="answer-metadata">
                    <p class="answer-creation-date">{{comment.creation_date}}</p>
                    <div class="answer-creator">
                        <img width="50px" height="50px" src="{% if comment.get_image %}/media/{{comment.get_image}}
                        {% else %}
                        {% static 'img/default-avatar.png' %}
                        {% endif %}">
                        <p>{{comment.creator}}</p>
                    </div>
                </div>
            </div>
            <hr class="answer-line"/>
        {% endfor %}
        <h3 class="user-answer-title">Your answer</h3>
        <form class="comment-container" action="{% url 'questions:question' question.id%}" method="post">
            {% csrf_token %}
            {{ form.text }}
            <button class="btn btn-outline-success" type="submit">Send</button>
        </form>
        <div class="vote-bar">
            <button style="{% if voted == 1 %}color: #00ff00;{% else %}color: #555555;{% endif %}"
                    onclick="{% if user.is_authenticated %}voteUp({{question.id}}){% else %}location.href='http://127.0.0.1:8000/users/login/'{% endif %}"
                    id="button-up"
                    data-state="{% if voted == 1%}active{%else%}inactive{% endif %}">
                <i class="fa-sharp fa-solid fa-caret-up"></i>
            </button>
            <p id="counter">{{question.vote}}</p>
            <button
                    style="{% if voted == -1 %}color: #00ff00;{% else %}color: #555555;{% endif %}"
                    onclick="{% if user.is_authenticated %}voteDown({{question.id}}){% else %}location.href='http://127.0.0.1:8000/users/login/'{% endif %}"
                    id="button-down"
                    data-state="{% if voted == -1%}active{%else%}inactive{% endif %}"><i
                    class="fa-sharp fa-solid fa-caret-down"></i></button>
        </div>
    </main>
{% endblock %}

{% block js %}
    <script src="{% static 'js/question.js' %}"></script>
{% endblock %}