{% extends 'users/base.html' %}
{% load static %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        <div class="login_block">
            {{ form.username }}
            {{ form.password }}
            <button type="submit" class="login_button">Login</button>
        </div>
    </form>
{% endblock %}