{% extends 'users/base.html' %}
{% load static %}

{% block title %}
    <title>register</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
    <form action="{% url 'users:register' %}" method="post">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger alert-dismissible fade show error_alert" role="alert">
                {{ form.errors }}
            </div>
        {% endif %}
        <div class="login_block">
            <div class="input_block">
                <div class="inputs">
                    {{ form.first_name }}
                    {{ form.username }}
                    {{ form.password1 }}
                </div>
                <div class="inputs">
                    {{ form.last_name }}
                    {{ form.email }}
                    {{ form.password2 }}
                </div>
            </div>
            <button type="submit" class="btn btn-outline-success">Create Account</button>
        </div>
    </form>
{% endblock %}