@font-face {
    font-family: "Righteous";
    src: url('../fonts/Righteous/Righteous-Regular.ttf');
}

body {
    background-image: linear-gradient(to bottom right, #0f9b0f, #000000);
    padding: 10px;
}

.title {
    font-family: "Righteous";
}

.navbar {
      background-color: #0c0c0c;
      color: #00ff00;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 40px 10px 40px;
      border-radius: 30px;
      box-shadow: 5px 5px 160px #00ff00;
      margin-bottom: 30px;
}

.navbar a {
      color: #00ff00;
      text-decoration: none;
      margin-right: 10px;
}

.navbar a:hover {
    text-decoration: underline;
}

.topics {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topics a {
    text-decoration: none;
    color: white;
}

.topics h4:hover {
    text-decoration: underline;
}

.topic-block {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    color: white;
    margin-bottom: 40px;
    border: 5px ridge #00ff00;
    padding: 20px;
    background-color: black;
}

.topic-block-creator {
    font-size: 14px;
    position: absolute;
    right: 1%;
    top: 70%;
    color: #5d6470;
}

.topic-block-metadata {
    margin-right: 20px;
}

.topic-block-metadata p {
    font-size: 14px;
}

.create-question-button {
    border: 3px solid #00ff00;
    background-color: black;
    border-radius: 45px;
    position: fixed;
    left: 93%;
    top: 85%;
}

.create-question-button i {
    font-size: 64px;
    color: #00ff00;
}

#create-question-form {
    background-color: black;
    position: fixed;
    left: 60%;
    top: 30%;
    border: 2px solid #00ff00;
    border-radius: 45px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 70%;
    padding: 10px;
    z-index: 999;
}

.close-button {
    color: #00ff00;
    font-size: 30px;
    background-color: black;
    border: 0px solid black;
    position: absolute;
    left: 15px;
    top: 15px;
}

.form-title-input {
    width: 60%;
    height: 15%;
    margin-bottom: 20px;
    border-radius: 45px;
    border: 2px solid #00ff00;
    background-color: black;
    color: #00ff00;
}

.form-title-input:focus {
    background-color: black;
    color: #00ff00;
}

.form-text-input {
    width: 80%;
    height: 60%;
    margin-bottom: 20px;
    border-radius: 45px;
    border: 2px solid #00ff00;
    background-color: black;
    color: #00ff00;
}

.form-text-input:focus {
    background-color: black;
    color: #00ff00;
}
