body {
    background-color: black;
}

.navbar {
      background-color: #0c0c0c;
      color: #00ff00;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border-radius: 30px;
      box-shadow: 5px 5px 40px green;
}

.navbar a {
      color: #00ff00;
      text-decoration: none;
      margin-right: 10px;
}

.navbar a:hover {
    text-decoration: underline;
}