@font-face {
    font-family: "Righteous";
    src: url('../fonts/Righteous/Righteous-Regular.ttf');
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Righteous";
    margin-bottom: 60px;
}

.form-title {
    color: white;
    font-size: 38px;
    margin-bottom: 20px;
}

.question-creation-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    color: white;
    margin-bottom: 60px;
    border: 5px ridge #00ff00;
    padding: 20px;
    background-color: black;
    box-shadow: 15px 15px 10px #00ff00;
}

.form-title-input {
    width: 60%;
    height: 15%;
    margin-bottom: 30px;
    border: 2px solid #00ff00;
    background-color: black;
    color: #00ff00;
}

.form-title-input:focus {
    background-color: black;
    color: #00ff00;
}

.form-text-input {
    width: 80%;
    height: 60%;
    margin-bottom: 30px;
    border: 2px solid #00ff00;
    background-color: black;
    color: #00ff00;
}

.form-text-input:focus {
    background-color: black;
    color: #00ff00;
}

.input-label {
    color: #00ff00;
    font-size: 20px;
    margin-bottom: 0;
    margin-bottom: 20px;
}

.categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.category-checkbox {

}

.category-choice {
    margin-right: 50px;;
    margin-bottom: 10px;
}