@font-face {
    font-family: "Righteous";
    src: url('../fonts/Righteous/Righteous-Regular.ttf');
}

body {
    background-color: black;
    font-family: "Righteous";
}

.login_block {
    max-width: 30%;
    height: 300px;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 45px;
    border: 2px solid #00ff00;
    box-shadow: 5px 5px 250px #00ff00;
}

.login_block a{
    font-size: 12px;
}

.username_input {
    width: 60%;
    height: 15%;
    margin-bottom: 20px;
    border-radius: 45px;
    border: 2px solid #00ff00;
}

.username_input:focus {
    box-shadow: 8px 6px 10px #00ff00;
}

.password_input {
    width: 60%;
    height: 15%;
    margin-bottom: 20px;
    border-radius: 45px;
    border: 2px solid #00ff00;
}

.password_input:focus {
    box-shadow: 8px 6px 10px #00ff00;
}

.error_alert {
    width: 50%;
    font-size: 14px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
